<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row parent_div">
        <div class="col-md-4 div4 child_div color_header">
            <h2><strong>Profesorii care-ți plac</strong></h2>
        </div>
        <div class="col-md-2 child_div">
            <button type="button" class=" btn btn-link color_header header_menu menu_link">Despre proiect</button>
        </div>
        <div class="col-md-2 child_div">
            <div class="dropdown">
                <button class="btn btn-link color_header header_menu menu_link" type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Resurse
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Cărți</a></li>
                    <li><a href="#">Articole</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 child_div">
            <button type="button" class=" btn btn-link color_header header_menu menu_link">Contacte</button>
        </div>
        <div class="col-md-2 child_div">
            <div class="dropdown">
                <button class="btn btn-link color_header header_menu menu_link" type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Autentificare
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Înregistrează-te</a></li>
                    <li><a href="#">Autentifică-te</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row parent_div_name page-header">
        <div class="col-md-2 child_div_name  img_profile">
            <img src="../static/images index2/img5gs.jpg" alt="..." class="img-rounded top">
            <img src="../static/images index2/img5.jpg" alt="..." class="img-rounded bottom">
        </div>
        <div class="col-md-5 child_div_name">
            <h3>ȘERBANESCU LIUDMILA</h3>
        </div>
        <div class="col-md-5 child_div_name parent_div5">
            <div class="col-md-1 child_div_name">
                <button type="button" class="btn btn-default profile_icons" data-toggle="tooltip" data-placement="top"
                        title="Matematica">
                    <h7><strong>M</strong></h7>
                </button>
            </div>
            &nbsp;
            <div class="col-md-1 child_div_name">
                <button type="button" class="btn btn-default profile_icons" data-toggle="tooltip" data-placement="top"
                        title="Ani de experiență">
                    <h7><strong>30</strong></h7>
                </button>
            </div>
            &nbsp;
            <div class="col-md-1 child_div_name">
                <button type="button" class="btn btn-default profile_icons" data-toggle="tooltip" data-placement="top"
                        title="Grad didactic">
                    <h7><strong>S</strong></h7>
                </button>
            </div>
            &nbsp;
            <div class="col-md-1 child_div_name">
                <button type="button" class="btn btn-default profile_icons" data-toggle="tooltip" data-placement="top"
                        title="Evaluarea profesorului">
                    <h7><strong>10</strong></h7>
                </button>
            </div>
            &nbsp;
            <div class="col-md-1 child_div_name">
                <button type="button" class="btn btn-default profile_icons" data-toggle="tooltip" data-placement="top"
                        title="Comentarii">
                    <h7><strong>5</strong></h7>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 parent_div_vertical_buttons">
            <div class="">
                <button type="button" class="btn btn-primary program_button_style" data-toggle="modal"
                        data-target=".bs-example-modal-lg"><h4><strong>Calendar</strong></h4>
                </button>
            </div>
            <div class="">
                <button type="button" class="btn btn-default books_button_style"><h5><strong>Cărți</strong></h5>
                </button>
            </div>
            <div class="">
                <button type="button" class="btn btn-default books_button_style"><h5><strong>Articole</strong></h5>
                </button>
            </div>
        </div>

        <div class="col-md-8">
            <div class="style_center_text">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat
                    porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor
                    fringilla.

                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida
                    at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                    sem nec elit.</p>
            </div>

            <div class="col-md-12 parent_div_events">
                <div class="col-md-3">
                    <div class="thumbnail events_box_style">
                        <img src="../static/images index2/img1.jpg" alt="..." class="img-rounded img_profile">
                        <div class="caption">
                            <h3>Eveniment</h3>
                            <p>Descrierea evenimentului</p>
                            <p><a href="#" class="btn btn-default events_button_style" role="button">Mai mult</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="thumbnail events_box_style">
                        <img src="../static/images index2/img2.jpg" alt="..." class="img-rounded img_profile">
                        <div class="caption">
                            <h3>Eveniment</h3>
                            <p>Descrierea evenimentului</p>
                            <p><a href="#" class="btn btn-default events_button_style" role="button">Mai mult</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="thumbnail events_box_style">
                        <img src="../static/images index2/img3.jpg" alt="..." class="img-rounded img_profile">
                        <div class="caption">
                            <h3>Eveniment</h3>
                            <p>Descrierea evenimentului</p>
                            <p><a href="#" class="btn btn-default events_button_style" role="button">Mai mult</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 parent_div_vertical_reviews">
            <div class="col-md-12 well well-sm review_box_style">
                <p>"Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus."</p>
            </div>
            <div class="col-md-12 well well-sm review_box_style">
                <p>"Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus."</p>
            </div>
            <div class="col-md-12 well well-sm review_box_style">
                <p>"Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus."</p>
            </div>
            <div class="col-md-12 well well-sm review_box_style">
                <p>"Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus."</p>
            </div>
            <div class="col-md-12 well well-sm review_box_style">
                <p>"Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus."</p>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat
            porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor
            fringilla.
        </div>
    </div>
</div>




<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>

</body>
</html>